{% extends 'base.html'  %}

{% block title %}Seja bem-vindo {% endblock %}

{% block body %}
<div class="row">
    <div class="col">

    </div>

    <div class="col-5">
        <h1>Seja bem vindo</h1>
    </div>

        <div class="col-md">
        {% if user.is_authenticated %}
        <p>Olá {{ user.username }}</p>
            <ul>
                <li><a href="{% url 'person_list'%}">Entrar</a></li>
                <li><a href="{% url 'person_list_cbv'%}">class based view(cbv)</a></li>
                <li><a href="{% url 'admin:index'%}">Admin</a></li>
                <li><a href="{% url 'dashboard_Venda'%}">dashboard</a></li>
                <li><a href="{% url 'logout'%}">Sair</a></li>
            </ul>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-info">Entrar</a>
        {% endif %}
    </div>
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 2.x</span>
        </div>
    </footer>
    {% endblock %}
