<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <a href="{% url 'person_list'%}">Voltar</a>
    <!--a action vai apontar apelido da url que está no arquivo urls de client-->
    <!--enctype="multipart/form-data" - faz o upload dos arquivos  -->
    <!-- como o form salva e atualiza não é preciso dessa action -  action="{% url 'person_new' %}"-->
    <form method="POST" enctype="multipart/form-data">
        <!--segurança que o django prover nos formulários-->
        {% csrf_token %}
        {{ form  }}
        <button type="submit">SALVAR</button>
    </form>
</body>
</html>

