{% extends 'base.html'  %}

{% block title %}Olá {{user}} {% endblock %}

{% block body %}
<div class="container">
    <h3>Olá {{user}}</h3>
    <a href="{%url 'logout'%}" class="btn btn-danger">Sair</a>
    <ul>
        {% for person in v_persons %}
        <li>
            <a href="{% url 'person_update' person.id %}"> {{ person.first_name }} </a>
            &nbsp;
            <a href="{% url 'person_delete' person.id %}"> DELETAR </a>
        </li>
        {%endfor%}
    </ul>

    <br>
    <a href="{% url 'person_new'%}" class="btn btn-success">Novo Cliente</a>
</div>
{% endblock %}