{% extends 'base.html' %}


{% block body %}

    <h1>Dashboard</h1>
    <ul>

        <li>Ticket médio:  {{ media }}</li>
        <li>Media desconto por cabeçalho:  {{ media_desc_cabecalho }}</li>
        <li>Media desconto por produto: {{ media_desc_por_produto }}</li>
        <li>Media desconto geral: {{ desconto_total }}</li>
        <li>nfe impressa: {{ nfe_impressa }}/{{ qtd_vendas }}</li>
        <li>Ped. menor valor: {{ venda_min }}</li>
        <li>Ped. maior valor: {{ venda_max }}</li>
    </ul>
{% endblock %}